* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: "verdana"; line-height: 150%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    position: fixed; top: 0px; left: 0px;
    overflow: hidden; z-index: 2;
    border-bottom: 1px solid black;
    background-color: #ffffff;
}
header .inner {
    width: 80%; height: 120px;
    margin: 0px auto; position: relative;
}
header .inner h1 {
    position: absolute; left: 10px; bottom: 0px;
}
header .inner h1 a {
    font: bold 30px/1 "verdana"; color: #343B62;
}
nav {
    float: right; overflow: hidden;
    position: absolute; bottom: 0px; right: 0px;
}
nav > ul {
    overflow: hidden;
}
nav > ul > li {
    float: left;
}
nav > ul > li > a {
    display: block;
    font: bold 15px/1 "verdana"; color: #555;
    padding: 20px 40px;
}
nav > ul > li > a:hover {
    color: #fc0;
}
#main {
    width: 100%; height: fit-content;
    margin-top: 120px; 
    padding: 10px; overflow: hidden;
    display: flex;
}
aside {
    width: 20%; height: fit-content; padding: 10px;
}
aside #menu {
    width: 40%; height: fit-content;
    float: right;
}
aside #menu li a {
    display: block; text-align: end;
    font: bold 15px/1 "verdana"; color: #444;
    padding: 30px 20px 30px 0px;
}
aside #menu li a:hover {
    color: #fc0; text-decoration: underline;
}
section {
    width: 80%; height: fit-content;
    padding: 20px; border-left: 1px solid black;
    display: flex;
}
section .pri {
    width: 80%; height: 100%;
}
section .pri .descr {
    width: 100%; height: 50px;
}
section .pri .descr h1 {
    margin: 20px;
    font: bold 30px/1 "Georgia"; color: black;
    text-decoration: underline;
}
article {
    width: 100%; height: fit-content; padding: 20px; 
    display: flex; flex-wrap: wrap; flex-direction: row;
}
article h1 {
    font: bold 20px/1 "verdana"; color: black;
}
article h1>a {
    font: bold 20px/1 "verdana"; color: black;
}
article h1>a:hover {
    color: blue; text-decoration: underline;
}
article #code {
    width: fit-content; height: fit-content; padding: 20px;
    display: flex; overflow-x: scroll;
}
article #code .lang {
    width: fit-content; height: 100%; padding: 20px;
    margin: 0px 10px;
}
article #code .lang>p {
    font: 500 15px/1 "georgia"; color: black;
}
article .up {
    width: 100%; height: 100px;
    position: relative;
}
article .up>a {
    position: absolute; bottom: 0px; left: 45%;
}
section #quest {
    width: 20%; height: 100%;
}
section #quest li {
    font: bold 20px/1 "georgia"; color: #343B62;
}
section #quest li a {
    display: block;
    font: 500 15px/1 "georgia"; color: #343B62;
    padding: 20px 40px;
}
section #quest li a:hover {
    color: #369; text-decoration: underline;
}
footer {
    width: 100%; padding: 10px;
    position: relative; top: 0px;
    background-color: #343B62;
}
footer .contact {
    width: 1000px; height: 100px;
    margin: 0px auto; position: relative;
}
footer p {
    width: 1000px; margin: 0px auto; padding: 20px 10px 0px;
    line-height: 20px; color: #ccc; font-size: 12px;
}
footer .contact h1 {
    position: absolute; left: 10px; bottom: 15px;
    color: #ccc;
}